/* --------------------------------------
   18. Footer
-----------------------------------------*/

.footer {
    background-color: $background-dark-1;
    .footer-top {
        position: relative;
        padding-top: 180px;
        padding-bottom: 80px;
        border-bottom: $border-width $border-style-solid #3b3b3e;
        @include respond("medium-devices") {
            padding-bottom: 40px;
        }
        @include respond("phone-land") {
            padding-top: 160px;
            padding-bottom: 40px;
        }
        .flaticon-lotus {
            &:before {
                margin-left: 0;
                position: absolute;
                top: 28%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $gray-10;
                opacity: 0.05;
                font-size: 27em;
                z-index: 0;
                height: 300px;
                @include respond("phone") {
                    top: 38%;
                    font-size: 28em;
                }
            }
        }
        .footer-menu {
            position: relative;
            z-index: 1;
            @include respond("medium-devices") {
                margin-bottom: 30px;
            }
            @include respond("phone-land") {
                margin-bottom: 30px;
            }
            .footer-logo {
                margin-bottom: 20px;
                .my-logo {
                    position: relative;
                    color: $white;
                    font-size: 20px;
                    font-weight: $font-700;
                    display: inline-block;
                    line-height: 1;
                    top: -6px;
                    .flaticon-chakra {
                        &:before {
                            margin-left: 0;
                            font-size: 28px;
                            color: $primary;
                            margin-right: 8px;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
            ul {
                li {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #e0dede;
                    &:last-of-type {
                        margin-bottom: 10px;
                    }
                }
            }
            .social-media {
                margin-right: 0;
                li {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 0;
                    i {
                        display: inline-block;
                        width: 38px;
                        height: 38px;
                        line-height: 36px;
                        text-align: $text-center;
                        font-size: 17px;
                        background: transparent;
                        color: $primary;
                        border: $border-width $border-style-solid $primary;
                        border-radius: 50%;
                        @include respond("medium-devices") {
                            width: 30px;
                            height: 30px;
                            line-height: 28px;
                            font-size: 16px;
                        }
                        &:hover {
                            background: $primary;
                            border: $border-width $border-style-solid $primary;
                            color: $white;
                        }
                    }
                }
            }
        }
        .footer-item {
            h4 {
                color: $white;
                font-size: 20px;
                font-weight: $font-700;
                letter-spacing: 0.7px;
                margin-bottom: 20px;
                text-transform: capitalize;
            }
            ul {
                li {
                    a {
                        color: #e0dede;
                        padding-left: 10px;
                        &:hover {
                            color: $primary;
                            padding-left: 14px;
                        }
                        &:before {
                            font-family: "Font Awesome 5 Free";
                            font-weight: $font-600;
                            content: "\f054";
                            position: relative;
                            left: -10px;
                            top: -1px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
        .copyright {
            p {
                color: $gray-9;
                font-size: 16px;
                letter-spacing: 0.3px;
                margin: 0;
                @include respond("phone") {
                    font-size: 15px;
                }
                span {
                    font-family: $font-Poppins;
                    color: $primary;
                    font-weight: $font-600;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}
