@import "../helpers/variabls";

/* --------------------------------------
    Sidebar Search
-----------------------------------------*/

.sidebar-search {
    position: relative;
    .form-group {
        margin-bottom: 30px;
    }
    .form-control,
    .form-control:focus {
        color: $gray-3;
        outline: none;
        box-shadow: none;
        border-radius: 30px;
        height: 50px;
        padding: 12px 45px 12px 30px;
        border: $border-width $border-style-solid #e7e7ea;
    }
    .search-btn {
        position: absolute;
        top: 50%;
        right: 2%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        line-height: 33px;
        text-align: $text-center;
        border-radius: 50%;
        font-size: 15px;
        background: $primary;
        border: $border-width $border-style-solid $primary;
        color: $white;
        cursor: pointer;
        outline: none;
        &:hover {
            background: $primary-2;
            border: $border-width $border-style-solid $primary-2;
        }
    }
}


/* --------------------------------------
    Sidebar Categories
-----------------------------------------*/

.sidebar-categories {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
    .categories-list {
        margin-bottom: 0;
        li {
            a {
                display: block;
                color: $gray-1;
                font-size: 15px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: $border-width $border-style-solid #e7e7ea;
                span {
                    float: $float-right;
                    color: $primary;
                }
                &:hover {
                    color: $primary;
                }
            }
            &:last-of-type {
                a {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
}


/* --------------------------------------
    Sidebar Posts
-----------------------------------------*/

.sidebar-posts {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
    .post-inner {
        position: relative;
        padding-left: 110px;
        margin-bottom: 25px;
        .post-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
        }
        .post-info {
            h5 {
                a {
                    display: inline-block;
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    text-transform: capitalize;
                    color: $gray-6;
                    font-weight: $font-600;
                    margin: 8px 0 4px;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            p {
                font-size: 14px;
                letter-spacing: 0.3px;
                color: $gray-5;
                font-weight: $font-500;
                margin: 0;
            }
        }
        &:last-of-type {
            margin-bottom: 12px;
        }
    }
}


/* --------------------------------------
    Sidebar Archives
-----------------------------------------*/

.sidebar-archives {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
    .archives-list {
        margin-bottom: 0;
        li {
            a {
                display: block;
                color: $gray-1;
                font-size: 15px;
                letter-spacing: 0.3px;
                margin-bottom: 15px;
                &:hover {
                    color: $primary;
                }
            }
            &:last-of-type {
                a {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* --------------------------------------
    Sidebar tags
-----------------------------------------*/

.sidebar-tags {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
    .tags-list {
        margin-bottom: 0;
        li {
            display: inline-block;
            a {
                display: inline-block;
                color: $gray-1;
                font-size: 15px;
                letter-spacing: 0.3px;
                margin-bottom: 5px;
                margin-right: 10px;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}


/* --------------------------------------
    form Comment
-----------------------------------------*/

.class-form {
    padding: 0 20px 35px;
    h3 {
        font-size: 21px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 35px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    .form-control,
    .form-control:focus {
        color: $gray-3;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        height: 60px;
        padding: 12px;
        background: transparent;
        border: none;
        border-bottom: $border-width $border-style-solid #bcb4ef;
    }
    textarea {
        &.form-control,
        &.form-control:focus {
            height: 155px;
            resize: none;
            padding-top: 18px;
        }
    }
}

.event-details {
    .class-form {
        padding: 0 0px 35px;
    }
}


/* --------------------------------------
    page Title
-----------------------------------------*/

.page-title {
    position: relative;
    background: url("https://via.placeholder.com/1920x1440") center center no-repeat;
    background-size: cover;
    padding: 150px 0;
    text-align: $text-center;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.75);
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .content {
        h2 {
            color: $white;
            font-size: 53px;
            font-weight: $font-600;
            line-height: 1.3;
            text-transform: capitalize;
            margin-bottom: 35px;
        }
        ul {
            li {
                position: relative;
                display: inline-block;
                margin-right: 6px;
                font-size: 17px;
                text-transform: capitalize;
                letter-spacing: 0.5px;
                &:last-child {
                    color: $gray-8;
                    padding-right: 0;
                    margin-right: 0;
                }
                a {
                    color: $white;
                }
                &.two:after {
                    content: "\f101";
                    font-family: "FontAwesome";
                    position: absolute;
                    right: -5px;
                    top: 1px;
                    font-size: 14px;
                    color: $gray-8;
                }
                i {
                    font-size: 14px;
                    color: $gray-8;
                }
            }
        }
    }
}


/* --------------------------------------
    Sidebar Classes
-----------------------------------------*/

.sidebar-classes {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
    .class-inner {
        position: relative;
        padding-left: 110px;
        margin-bottom: 25px;
        &:last-of-type {
            margin-bottom: 12px;
        }
        .class-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
        }
        .class-info {
            h5 {
                a {
                    display: inline-block;
                    font-size: 15px;
                    letter-spacing: 0.3px;
                    text-transform: capitalize;
                    color: $gray-6;
                    font-weight: $font-600;
                    margin: 0 0 4px;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            p {
                font-size: 14px;
                letter-spacing: 0.3px;
                color: $gray-5;
                font-weight: $font-500;
                margin: 0;
            }
        }
    }
}


/* --------------------------------------
    Sidebar info
-----------------------------------------*/

.sidebar-info {
    padding: 35px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 20px;
        letter-spacing: 0.3px;
        text-transform: capitalize;
        color: $gray-3;
        font-weight: $font-600;
        margin-bottom: 25px;
    }
}

.info-list {
    margin-bottom: 0;
    li {
        display: block;
        color: $gray-1;
        font-size: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: $border-width $border-style-solid #e7e7ea;
        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
        span {
            display: inline-block;
            color: $primary;
            font-weight: $font-600;
            margin-right: 5px;
        }
    }
}

.events {
    .event-sidebar {
        .register {
            margin-bottom: 30px;
            display: block;
            margin-right: 0;
        }
    }
}


/* --------------------------------------
    404 Error Content
-----------------------------------------*/

.error-page {
    background-color: $background-color;
    padding-top: 160px;
    padding-bottom: 160px;
    h1 {
        font-size: 100px;
        line-height: 1;
        color: $gray-2;
    }
    h3 {
        font-size: 22px;
        color: $gray-2;
        font-weight: $font-700;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        color: $gray-1;
        margin-bottom: 35px;
    }
}


/* --------------------------------------
Scroll To Top
-----------------------------------------*/

.fixed {
    position: fixed;
}

.right-0 {
    right: 25px;
}

.bottom-0 {
    bottom: 25px;
}

.fade-leave-active {
    bottom: 107%;
}

#pagetop {
    right: 25px;
    width: 52px;
    height: 52px;
    line-height: 48px;
    font-size: 17px;
    text-align: $text-center;
    color: $white;
    background: $primary;
    border: $border-width-2 $border-style-solid $primary;
    border-radius: 4px;
    z-index: 999;
    transition: all 0.7s linear;
    overflow: hidden;
    cursor: pointer;
    @include respond("phone") {
        display: none;
    }
}

.pagetop {
    &:hover {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
        border: $border-width-2 $border-style-solid $primary-2;
    }
    i {
        position: relative;
        z-index: 2;
        color: $white;
        width: 100%;
        height: 100%;
    }
    &:before {
        content: "";
        background-color: $primary-2;
        position: absolute;
        top: 0;
        left: -25%;
        height: 104%;
        width: 0;
        -webkit-transform: skew(-22deg);
        -moz-transform: skew(-22deg);
        -ms-transform: skew(-22deg);
        -o-transform: skew(-22deg);
        transform: skew(-22deg);
        transition-duration: 0.6s;
        z-index: 1;
    }
}

.pagetop:hover:before {
    width: 190%;
}


/* --------------------------------------
   Post form
-----------------------------------------*/

.post-form {
    padding: 0 20px 35px;
    h3 {
        font-size: 21px;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        color: #666;
        font-weight: 600;
        margin-bottom: 35px;
    }
    .form-control,
    .form-control:focus {
        color: #666;
        outline: none;
        box-shadow: none;
        border-radius: 0;
        height: 60px;
        padding: 12px;
        background: transparent;
        border: none;
        border-bottom: $border-width $border-style-solid #bcb4ef;
    }
    textarea {
        &.form-control,
        &.form-control:focus {
            height: 155px;
            resize: none;
            padding-top: 18px;
        }
    }
}